.header-container {
    background-color: rgb(68, 40, 82);
    border-bottom: 2px double rgb(27, 3, 29);
    box-shadow: 0px 0px 15px 5px rgb(27, 3, 29);
    margin: 0;

    display: flex;
    flex-flow: row nowrap;

    position: sticky;
    list-style: none;
    text-decoration: none;

    top: 0;
    left: 0;

    padding: 0;

    height: 50px;
    width: 100%;
    z-index: 10;
}

.header-container li {
    list-style: none;
    text-decoration: none;
}

.menu-item {
    color: white;
    cursor: pointer;

    padding: 10px;
    text-align: center;
    line-height: 28px;

    font-size: 1rem;

    transition: .3s;
    height: 100%;
    width: 120px;
}

.menu-item:hover {
    background-color: rgb(109, 0, 143);
    font-size: 1.2rem;
}